.backgroundWrapper {
  position: absolute;
  width: 100%;
  height: 98%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.backgroundWrapper div {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

.Background {
  position: absolute;
  display: grid;
  width: 500%;
  transform-origin: bottom center;
  transition: transform 8s ease-in-out;
}
