* {
  margin: 0;
  padding: 0;
}

.Background {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ground {
  height: 500px;
  width: 100vw;
  background: #000220;
  clip-path: ellipse(50% 6% at 50% 100%);
}
