#pageContainer {
  height: 100vh;
  width: 100vh;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* megrim font */
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

/* nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.aboutContainer,
.contactContainer,
.projectsContainer,
.titleContainer {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  color: white;
  opacity: 0;
  transition: all 200ms ease-in-out;
  width: 60vw;
}

h1 {
  font-family: "Megrim", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.1rem;
}
h2 {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  color: #02ecd1;
  letter-spacing: 1rem;
}

p {
  font-family: "Nunito", sans-serif;
}

/* about Page */

.aboutContainer h2 {
  padding: 1.5rem;
}

.textBox {
  text-align: center;
  line-height: 1.8rem;
  margin: 1rem;
}

/* project Page */

.projectsContainer {
  display: flex;
  flex-direction: column;
}

.projectsContainer h2 {
  margin-bottom: 80px;
}

.iconWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}

.iconContainer {
  cursor: pointer;
}

.iconText {
  margin-top: 5px;
  padding: 5px 15px;
  width: 100px;
  transition: all 0.2s;
  font-family: "Megrim", sans-serif;
}

.iconContainer:hover .iconText {
  background: #02ecd1e5;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}

/* project icons */

.projectIconContainer {
  cursor: pointer;
  align-items: center;
}

.projectIconText {
  padding: 10px 15px;
  width: 100px;
  transition: all 0.2s;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 40px;
  font-size: 0.8rem;
}

.dummyIcon {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(146, 146, 146);
  box-sizing: border-box;
  transition: all 0.2s;
}

div.dummyIcon:hover {
  transform: scale(1.1);
}

.react:hover ~ .iconContainer p.react {
  background: #02ecd1e5;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}
.javascript:hover ~ .iconContainer p.javascript {
  background: #02ecd1e5;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}
.sass:hover ~ .iconContainer p.sass {
  background: #02ecd1e5;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}
.wordpress:hover ~ .iconContainer p.wordpress {
  background: #02ecd1e5;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}

.break {
  flex-basis: 100%;
  height: 80px;
}

/* contact page */

.contactIconContainer {
  display: flex;
  margin: auto;
  width: 100px;
  justify-content: space-evenly;
}

.contactContainer h2 {
  margin-bottom: 50px;
}

.contactIcon {
  text-align: center;
  margin: 10px;
}

.contactIcon a {
  color: white;
  letter-spacing: 0.3rem;
}

.contactIcon p {
  margin-top: 1.5rem;
  padding: 10px 15px;
  width: 100px;
  border-radius: 2px;
  transition: all 0.6s;
}
.contactIcon:hover p {
  background: #02ecd1;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}
