#pageContainer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.aboutContainer h2,
.projectsContainer h2,
.contactContainer h2 {
  padding: 1.5rem;
  font-size: 1.4rem;
}

.aboutContainer,
.contactContainer,
.projectsContainer,
.titleContainer {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  color: white;
  opacity: 0;
  transition: all 200ms ease-in-out;
  width: 80vw;
  max-width: 900px;
}

@media screen and (max-width: 750px) {
  .projectsContainer {
    width: 90vw;
  }
}

/* about Page */

.textBox {
  text-align: center;
  line-height: 1.8rem;
  margin: 1rem;
  margin: auto;
  max-width: 800px;
}

.projectsContainer .textBox {
  max-width: 600px;
  margin-top: 2rem;
}

/* project Page */

.projectsContainer {
  display: flex;
  flex-direction: column;
}

.techIconWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-bottom: 20px;
}

.iconContainer {
  cursor: pointer;
  clip-path: circle();
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.techIcon {
  width: 40px;
}

.highlighted {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); 
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgb(228 228 228 / 10%); 
  transform: scale(1.1);
}

.iconText {
  font-size: 0.7rem;
  margin-top: 15px;
  font-family: "Megrim", sans-serif;
  letter-spacing: 0.2rem;
}

.iconContainer:hover {
  transform: scale(1.1);
}

/* project Cards */


.projectsIconWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.projectIconContainer {
  cursor: pointer;
  align-items: center;
  transition: opacity 0.3s;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.projectIconText {
  padding: 10px 15px;
  width: 100px;
  transition: all 0.2s;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  text-align: center;
}

.projectIcon {
  transition: all 0.2s;
  width: 60px;
}

.projectIcon:hover {
  transform: scale(1.1);
}

.break {
  flex-basis: 100%;
  height: 80px;
}

@media screen and (max-width: 750px) {
  .projectIcon {
    width: 50px;
  }
  .projectIconText {
    font-size: 0.7rem;
    padding: 10px 0px;
  }
  .iconContainer {
    width: auto;
  }
  .techIcon {
    width: 40px;
  }
  .break {
    flex-basis: 100%;
    height: 60px;
  }
}

/* contact page */

.contactIconContainer {
  display: flex;
  margin: auto;
  width: 100px;
  justify-content: space-evenly;
}

.contactIcon {
  text-align: center;
  margin: 10px;
}

.contactIcon a {
  color: white;
  letter-spacing: 0.3rem;
}

.contactIcon p {
  margin-top: 1.5rem;
  padding: 10px 15px;
  width: 100px;
  border-radius: 2px;
  transition: all 0.6s;
}
.contactIcon:hover p {
  background: #02ecd1;
  color: rgb(0, 0, 94);
  font-weight: bolder;
}

/* mobile menu */
.mobileMenuContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: all 0.4s;
  background: #040716d0;
}
.mobileMenuContainer p {
  padding: 0.7rem;
}
