.grass {
  margin-bottom: -20px;
  height: 100%;
  width: 100%;
  background: url("../img/midnight-foreground-bank.png") repeat-x;
  animation: scrollBackGrass 50s linear infinite;
  z-index: 2;
}

@keyframes scrollBackGrass {
  from {
    background-position: 0 center;
  }
  to {
    background-position:  1920px center;
  }
}
