.grass {
  height: 100%;
  width: 100%;
  /* background: #000220;
  clip-path: ellipse(50% 6% at 50% 100%); */
  background: url("../img/grass.png") bottom repeat-x;
  animation: scrollBackGrass 7s linear infinite;
  z-index: 10;
}

@keyframes scrollBackGrass {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: 245px bottom;
  }
}
