#moon { 
  width: 130px;
  height: 130px;
  background-color: aliceblue;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: start;
  z-index: 1;
  transition: all 8s ease-in-out;
}

#moonRays {
  width: 150px;
  height: 150px;
  background: whitesmoke;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 2;
  animation: moonBeam 10s infinite;
  justify-self: center;
  align-self: start;
  z-index: 6;
  opacity: 0.5;
  transition: all 12s ease-in-out;
}

@keyframes moonBeam {
  0% {
    filter: blur(130px);
  }
  50% {
    filter: blur(200px);
  }
  100% {
    filter: blur(130px);
  }
}
