.mountains {
  width: 100%;
  min-height: 1080px;
  background: url("../img/mountains2.png") repeat-x;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .mountains {
    background: url("../img/mountains3.png") bottom repeat-x;
  }
}
