#foreground {
  position: absolute;
  height: 200%;
  width: 500%;
  background: url("../img/tallTree3.png") repeat-x;
  animation: scrollBack 40s linear infinite;
  /* animation-play-state: paused; */
  z-index: 4;
  transform: scale(0.8);
  transform-origin: bottom;
  transition: all 8s ease-in-out;
}

@keyframes scrollBack {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: 2154px bottom;
  }
}
