#trees {
  align-self: end;
  grid-row: 2;
  grid-column: 1;
  max-height: 1080px;
  height: 100vh;
  background: url("../img/forest1961-959.png") repeat-x;
  animation: scroll 360s linear infinite;
  z-index: 2;
  /* animation-play-state: paused; */
}

@keyframes scroll {
  from {
    background-position: 1920px 0;
  }
  to {
    background-position: 0 0;
  }
}
