/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
}

nav p:hover {
  transform: scale(1.1);
}

.navLinks {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.navItem {
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  padding: 40px;
  color: whitesmoke;
  font-family: "Nunito", cursive;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.6s;
  transition: transform 0.2s;
  
}

#navLogo {
  font-family: "Megrim", cursive;
  color: whitesmoke;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 40px;
}

/* mobile navigation */

#mobileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.mobileMenuIcon {
  max-width: 30px;
}

@media screen and (max-width: 1100px) {
  .navLinks p {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .navLinks #mobileMenu {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .navItem {
    padding: 20px;
  }

  #navLogo {
    padding: 20px;
    font-size: 1.5rem;
  }
}

/* END NAVIGATION */
