/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
}

.navLinks {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.navItem {
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  padding: 40px;
  color: whitesmoke;
  font-family: "Nunito", cursive;
  text-decoration: none;
  cursor: pointer;
}

#navLogo {
  font-family: "Megrim", cursive;
  color: whitesmoke;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding: 40px;
}

/* mobile navigation */

#mobileMenu img {
  width: 40px;
}

@media screen and (max-width: 1100px) {
  .navLinks p {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .navLinks div {
    display: none;
  }
}

/* END NAVIGATION */
